<h1>Movies Search list</h1>
<form class="flex flex-col gap-4" (ngSubmit)="searchMovies()">
  <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search for movies..." class="border p-2 rounded" required />
  <button type="submit" class="bg-blue-500 text-white p-2 rounded">Search</button>
</form>
<div class="flex flex-col gap-4 mt-4">
  <h2>Search Results:</h2> 
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let movie of moviesData" class="border p-4 rounded shadow-md">
      <h3 class="text-lg font-semibold">{{movie.movieTitle}}</h3>
      <p>Director: {{movie.directorName}}</p>
      <p>Actors: {{movie.actorNames}}</p>
    </div>
  <!-- <ul class="list-disc pl-5">
    <li *ngFor="let movie of moviesData">{{movie.movieTitle}} - {{movie.directorName}} - {{movie.actorNames}}</li>
  </ul> -->
    <div *ngIf="moviesData.length === 0" class="text-gray-500">No movies found.</div>